@font-face {
  font-family: "Director-bold";
  src: url("../fontes/Director-bold.ttf");
}

@font-face {
  font-family: "Director-light";
  src: url("../fontes/Director-Light.ttf");
}

@font-face {
  font-family: "Director-regular";
  src: url("../fontes/Director-Regular.ttf");
}

@font-face {
  font-family: "Director-variable";
  src: url("../fontes/Director-Variable.ttf");
}

@font-face {
  font-family: "FT88-italic";
  src: url("../fontes/FT88-Italic.ttf");
}

@font-face {
  font-family: "maxisource";
  src: url("../fontes/maxisource.ttf");
}