@import "fonts.css";

:root {
  --noir: black;
  --bleu: #3b64ad;
  --white: white;
}

body {
  width: auto;
  height: 100vh;
  font-family: "Director-light";
  /* font-size: 1.2em; */
  color: var(--bleu);
  margin: 0;
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(16, minmax(10px, 1fr));
  grid-template-rows: repeat(16, minmax(10px, 1fr));
  background: linear-gradient(var(--bleu), 10%, var(--white));
}

input[type="file"] {
  font-size: 1em;
  border: solid 1px var(--bleu);
}

::selection {
  color: var(--white);
  background: var(--bleu);
}

/* NAVIGATION */

.nav_droite {
  display: grid;
  grid-area: 1 / 8 / 8 / 8;
  line-height: 1.5;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  align-items: start;
  justify-items: right;
  padding-right: 5px;
}

footer{
  width: auto;
  grid-row: 16;
  margin-top: 20%;
}

footer nav a#left {
  position: fixed;
  left: 2%;
}

.options {
  display: none;
}

.desciption {
	word-wrap: break-word;
}

#right {
  display: inline-flex;
  position: fixed;
  right: 2%;
  justify-content: space-between;
  color: var(--noir);
}

#right span {
  color: var(--noir);
}

footer #right {
	bottom: 10px;
}
footer #right a {
  padding-left: 50px;
  font-size: 1.5em;
  color: var(--noir);
}


header {
  font-family: "Director-light";
  font-size: 2.2em;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
  grid-column: 2/16;
  margin-top: 0.5em;
  text-align: center;
}

header a {
  color: var(--white);
}

.fleche-home {
  position: fixed;
  top: 15px;
  left: 15px;
}

.fleche-home a {
  text-decoration: none;
  color: var(--noir);
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--bleu);
}

.titre a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* HOME et MONIQUE */

.home-content {
  grid-area: 2 / 2 / 16 / 16;
  align-self: center;
}

.home-content .description {
  font-size: 1.6em;
  font-family: "Director-bold";
  line-height: 1.3em;
  text-align: center;
  max-width: 85%;
  margin: auto;
}

.home-content .titre {
  font-family: "FT88-italic";
  text-align: end;
  padding-left: 30vw;
  padding-top: 10px;
}

.home-content .contributeurice, .pseudo {
  font-size: 1em;
  font-family: "Director-light";
  line-height: 1em;
}

.home-content p {
  font-size: 1.2em;
  line-height: 1.4em;
}

.wittig {
  border: var(--noir) solid 0.1em;
  padding: 0em 1.8em 0em 1.8em;
  border-radius: 5px;
  font-family: "FT88-italic";
  background-color: var(--white);
}

.wittig p {
  color: var(--noir);
}

/* TEMPLATES GENERAL */

.grille-centre {
  display: grid;
  grid-area: 1 / 2 / 16 / 16;
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
}

.grille-centre caption {

}

.grille-centre-resultats {
  display: grid;
  grid-area: 4 / 2 / 8 / 16;
  display: flex;
  flex-flow: row wrap;
}

.resultats {
  display: grid;
  grid-area: 2 / 2 / 8 / 16;
  display: flex;
  flex-flow: row wrap; }


.bloc_grille {
  box-sizing: border-box;
  min-width: 9%;
  max-width: 30%;
  flex-grow: 1.2;
  margin: 5px;
  border: 1px solid var(--bleu);
  background-color: var(--white);
  border-radius: 5px;
}

.bloc_resultats {
  box-sizing: border-box;
  min-width: 9%;
  max-width: 30%;
  flex-grow: 1.2;
  margin: 5px;
  /* padding: 1%; */
  /* grid-column: span 1; */
  /* grid-row: span 1; */
  border: 1px solid var(--bleu);
  /* border-radius: 5px; */
}

.bloc_collection{
  /* border-bottom: 2px dotted var(--bleu);
  border-left: 2px dotted var(--bleu); */
  min-width: 9%;
  max-width: 30%;
  background-color: white;
  margin: 15px;
  padding: 1%;
  display: flex;
  border-radius: 10px;
  border-bottom:solid 1px var(--bleu);
}
.bloc_collection:hover {
  box-shadow: #ff4500 0px 0px 0px 1px inset, var(--bleu) 3px 0px 0px -1px, var(--bleu) 3px -3px, var(--bleu) 6px -6px 0px -1px, var(--bleu) 6px -6px, var(--bleu) 9px -9px 0px -1px, var(--bleu) 9px -9px;
  cursor: pointer;
}

.bloc_collection ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.bloc_grille .titre {
  font-size: 1.2em;
  font-family: "Director-light";
  /* text-transform: lowercase; */
  /* display: inline-flex; */
  color: var(--white);
  background-color: var(--bleu);
  align-items: baseline;
  padding: 2%;
  word-wrap: break-word;
  max-height: fit-content;
  /* height: 100%;  */
}
 
.bloc_grille .contributeurice {
  font-size: 0.9em;
  margin-top: 0.3em;
  padding-bottom: 0.5em;
  font-family: "FT88-italic";
}

.bloc_collection .titre {
  font-family: "Director-bold";
  font-size: 0.9em;
  letter-spacing: 3px;
}

.bloc_grille .description {
  padding: 3%;
  min-height: max-content;
  font-size: 1.1em;
  line-height: 1.3em;
}

details summary {
  border: 1px solid var(--bleu);
  border-radius: 5px 5px 5px 5px;
  display: grid;

}
details[open]{
  border: 1px solid var(--bleu);
  border-radius: 5px 5px 5px 5px;
}

summary [open] {
  padding: 0;
}



/* .bloc_grille:hover {
  background-color: var(--bleu);
  color: white;
  cursor: pointer;
} */

/* .bloc_grille:hover .titre {
text-transform:uppercase;
} */


.bloc_collection .description {
  padding-left: 20px;
  border: 0;
  display: flex;
}

.pseudo {
  font-size: 0.8em;
  font-family: "Director-light";
  line-height: 0.5em;
}

#user {
  font-size: 1.1em;
  text-align: right; 
  font-variant: small-caps;
  letter-spacing: 3px;
}

#picto {
  font-size: 2.5em;
  letter-spacing: 3px;
  text-align: right;
  margin: 0;
  line-height: 0;
  font-family: 'maxisource';
}

form {
  grid-area: 2 / 2 / 16 / 16;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  column-gap: 15px;
  row-gap: 15px;
}


.resultats {
  grid-area: 2 / 2 / 2 / 16;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  column-gap: 15px;
  row-gap: 15px;
}

/* 

Recherche et résultats de recherche 

.motCle {
  grid-row: 1;
  grid-column: span 6;
  border-bottom: solid 1px var(--bleu);
  font-size: 2em;
}
 */

input {
  border: 0;
  font-family: "Director-bold";
  color: var(--bleu);
  font-size: 1.3empx;
 
}

input[type="file"] {
display: none;
}

/* input[type="file"]::before {
  background-color: aqua;
  width: 30px;
  } */



/* FORMULAIRE DE DEPOT */


textarea {
  font-family: "Director-bold";
  color: var(--bleu);
  font-size: 1.3em;
  border: 1px solid var(--bleu);
  resize: none;
  border: var(--bleu) solid 1px;
  background: transparent;
  border-radius: 5px;
}

input[type="text"] {
  border: var(--bleu) solid 1px;
  background: transparent;  
  border-radius: 5px;
  padding: 1em;
}

input[type="number"] {
  border: var(--bleu) solid 1px;
  background: transparent;  
  border-radius: 5px;
  padding: 0.4em;
}

.formulaire_titre {
  grid-row: span 2;
  grid-column: span 14;
  outline: none;
  font-size: 1.3em;
}

.formulaire_contributeurices {
  grid-row: span 2;
  grid-column: span 12;
  outline: none;
  font-size: 1.3em;
}

.formulaire_date {
  grid-row: span 1;
  grid-column: span 2;
  align-self: center;
  outline: none;
  font-size: 1.3em;
}

.formulaire_liste {
  grid-row: 6 / 10;
  grid-column: span 3;
  overflow-y: auto;
  margin-top: 0.5em;
}

/* Style pour input type = checkbox */

.formulaire_liste input[type="checkbox"] {
  margin-left: 20px;
}

input[type=checkbox] {
	-webkit-appearance: none;
  margin: 0;
  margin-left: 0px;
padding: 0;
}

input[type=checkbox]:before {
  font-size: 2em;
  text-align: center;
  line-height: 18px;
  padding-right: 4%;
  padding-right: 10px;
  font-family: "maxisource";
  cursor: pointer;
  height: 50%;
}

input[type=checkbox]:checked:before {
  text-align: center;
  line-height: 18px;
  padding-right: 10px;
  font-family: "maxisource";
  cursor: pointer;
  mix-blend-mode: multiply;
}

.formulaire_liste input[type=checkbox]:before {
  content: "B";
  font-size: 3em;
}

.formulaire_liste input[type=checkbox]:checked:before {
    content: "A";
}

/* Style pour input type = radio */

input[type=radio] {
-webkit-appearance: none;
font-family: "maxisource";
cursor: pointer;
}

.formulaire_liste input[type="radio"] {
  margin-left: 20px;
}

input[type=radio]:before {
font-size: 2em;
text-align: center;
line-height: 18px;
padding-right: 4%;
padding-right: 10px;
font-family: "maxisource";
cursor: pointer;
height: 50%;
}

input[type=radio]:checked:before {
  text-align: center;
  line-height: 18px;
  padding-right: 10px;
  font-family: "maxisource";
  cursor: pointer;
  mix-blend-mode: multiply;
}

.formulaire_liste input[type=radio]:before {
content: "B";
font-size: 3em;
}

.formulaire_liste input[type=radio]:checked:before {
  content: "A";
}

form h1 {
  transform: rotate(-7deg);
  font-size: 1.2em;
  width: fit-content; 
  font-family: "FT88-italic";
  grid-column: span 3;
}

.formulaire_description {
  grid-row: 5/13;
  grid-column: 7/18;
  outline: none;
  padding: 1%;
}

.formulaire_description_col {
  grid-row: span 10;
  grid-column: span 14;
  outline: none;
  padding: 1%;
}

.formulaire_parcourir {
  grid-column:11/ span 2;
  grid-row: 13/span 2;
  cursor: pointer;
  border: solid 1px var(--bleu);
  border-radius: 5px;
  text-align: center;
  justify-self: center;
  align-self: center;
  transform: rotate(-7deg);
  padding: 5px 10px 5px 10px;
  font-size: 1.2em;
}

.formulaire_parcourir:hover {
  cursor: pointer;
  background-color: var(--bleu);
  color: white;
}

.formulaire_icone {
  grid-column: 1/7;
  grid-row: 10/14;
  flex-flow: row;
}

.formulaire_icone ul {
  font-family: "maxisource";
  font-size: 3em;
  display: inline-flex;
  flex-wrap: wrap;
  overflow-y: none;
  margin-left: 20px;
  height: 100%;
  margin-top: 5%;
}

input[type=checkbox] {
	-webkit-appearance: none;
  margin: 0;
  margin-left: 0px;
padding: 0;
}

input[type=checkbox]:before {
  font-size: 2em;
  text-align: center;
  line-height: 18px;
  padding-right: 4%;
  padding-right: 10px;
  font-family: "maxisource";
  cursor: pointer;
  height: 50%;
}

input[type=checkbox]:checked:before {
    text-align: center;
    line-height: 18px;
    padding-right: 10px;
    font-family: "maxisource";
    cursor: pointer;
    mix-blend-mode: multiply;
}

.formulaire_liste input[type=checkbox]:before {
    content: "B";
    font-size: 3em;
    
}

.formulaire_liste input[type=checkbox]:checked:before {
      content: "A";
}

input[type=radio] {
	-webkit-appearance: none;
  font-family: "maxisource";
  cursor: pointer;
}

.formulaire_icone input[type=radio]:before {
    content: attr(value);
    font-size: 4em;
    padding: 8px 5px 6px 5px;
    border: transparent solid 1px;
    border-radius: 5px;
  }
    
.formulaire_icone input[type=radio]:checked:before {
  content: attr(value);
  border-color: var(--bleu);
}

.formulaire_pseudo {
  grid-column: 7/ span 2;
  grid-row: 13/span 2;
  outline: none;
  font-size: 1.3em;
}

.formulaire_enregistrer {
  grid-column: 13/ span 2;
  grid-row: 13/span 2;
  cursor: pointer;
  border: 1px solid var(--bleu);
  justify-self: center;
  align-self: center;
  transform: rotate(-7deg);
  padding: 5px 10px 5px 10px;
  background-color: var(--bleu);
  border-radius: 5px;
  color: white;
}


label .formulaire_enregistrer {
  display: flex;
}

input[value="enregistrer"],
input[value="upload"]{
  background: none;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
}


button[value="rechercher"]{
  background: none;
  transform: rotate(-7deg);
  cursor: pointer;
  padding: 2%;
  cursor: pointer;
  border: 1px solid var(--bleu);
  justify-self: center;
  align-self: center;
  padding: 2%;
  color: var(--bleu);
  font-family: "Director-bold";
  
}

/* .chercherdans {
  grid-row: 1;
  grid-column: span 2;
  font-size: 20px;
} */


button[value="rechercher"]:hover{
  background: var(--bleu);
  border: solid 1px var(--bleu);
  cursor: pointer;
  padding: 2%;
  color: white;
}


/* 

barre de recherche 

  .barre_recherche {
  grid-row: 1;
  grid-column: span 6;
  border-bottom: solid 1px var(--bleu);
  outline: none;
  font-size: 30px;
} */

/* input[type="radio"] {
  display: none;
} */






/* summary::marker {
    display: none;
    content: "";
} */

/* .title {
  font-size: calc(var(--unit) * 3);
} */

details, summary {
  display: block;
}

details ul li{
  list-style: none;
}

details ul {
margin: 0;
padding: 0;
overflow-y: auto;
}

summary {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  /* overflow-y: auto; */
}



/* .open:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
} */


.titre a:hover {
  cursor: pointer;
}


#infoLeft {
  background: linear-gradient(var(--white), 90%, var(--bleu));
  width: 46%;
  height: 92%;
  margin: 1% 0 0% 4%;
  position: absolute;
  top: 15px;
  box-sizing: border-box;
  border: solid 1px var(--bleu);
  border-radius: 5px;
}

.infoDoc .titre{
padding: 1% 0 1% 1%;
background-color: var(--bleu);
color: white;
cursor:initial;
font-size: 1.1em;
font-family: "Director-light";
}

.infoDoc .description {
  margin: 0% 4% 0 0;
  font-size: 1em;
  line-height: normal;
  position: absolute;
  right: 0;
  width: 60%;
  border: solid 1px var(--bleu);
}


.infoDoc .infoTags li {
  margin: 0% 0 2% 4%;
  padding: 0;
  max-width: 25%;
  font-family: "FT88-italic";
}

.infoDoc .pseudo {
  font-size: 0.9em;
  line-height: normal;
}

.infoDoc ul li {
  padding: 2%;
}

.infoDoc .modifier {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  margin: 0 0 1% 4%;
}


#infoRight {
  background-color: rgb(255, 255, 255);
  right: 4%;
  width: 46%;
  height: 92%;
  margin: 1% 0 0 0;
  display: none;
  position: fixed;
  top: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

.picto {
  color: var(--bleu);
  font-family: "maxisource";
  font-size: 1.8em;
}

#infoLeft .picto {
  color: var(--white);
  font-family: "maxisource";
  font-size: 2em;
}

#home {
z-index: 10;
position: absolute;
}


.close {
  margin: 1%;
  padding: 1% 1% 1% 1%;
  transform: rotate(45deg);
  cursor: pointer;
  color: white;
  position: absolute;
  right: 0;
  font-size: 1.5em;
}

.openInfoRight {
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 49.5%;
  top: 46%;
  color: var(--noir);
  font-size: 1.5em;
}

.fermer {
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 46%;
  top: 46%;
  color: var(--noir);
  font-size: 1.5em;
  display: none;
}

.openInfoRight {
  cursor: e-resize;
}

.fermer:hover {
  cursor: w-resize;
  display: none;
}

/* .fermer:hover,
.openInfoRight:hover {
  background-color: var(--bleu);
  color: white;
} */

.pdf {
  width: 100%;
  height: 100%;
  border: solid 1px var(--noir);
  border-left: none;
  box-sizing: border-box;
  border-radius: 5px;
}

iframe {
  border: none;
}

#collectionDocs {
  width: 80%;
  border: solid 1px var(--bleu);
  height: 20%;
}

@media only screen and (max-width: 1440px) {
  :root {
    --unit: 9pt;
  }
  .bloc_grille .description {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  :root {
    --unit: 13pt;
  }

  .bloc_grille {
    box-sizing: border-box;
    min-width: 15%;
  }
}
