body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.left {
    background-color: rgb(255, 153, 153);
    left: 0;
    position: absolute;
    width: 50%;
    height: 100vh;
}

.right {
    background-color: beige;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 100vh;  
}
/* 
.info {
    display: block;
} */

.left .info#title {
    font-size: 2em;
}