<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="static/js/jquery.multilang.js"></script>
	<script src="static/js/changelang.js"></script>
</head>

<!-- <body id="maxisources">
<a id="bouton-langue" class="multilang" lang="en" href="?lang=fr">FR</a>
<a id="bouton-langue"class="multilang" lang="fr" href="?lang=en">EN</a> -->


{% block content %}
{% endblock %}

<script>
	$(document).ready(function () {
	   $('.openInfoRight').click(function () {
		 $('#infoRight').show();
		 $('.openInfoRight').hide();
		 $('.fermer').show();
	   });
	 });

	 $(document).ready(function () {
		$('.fermer').click(function () {
		  $('#infoRight').hide();
		  $('.openInfoRight').show();
		  $('.fermer').hide();
		});
	  });

	</script>	 

</html>

