{% extends "base.html" %}

{% block content %}
	
<nav class="fleche-home">
	<a href="/"> < </a>
</nav>

<div class="grille-centre">
	{% for row in rows|shuffle %}
	<div class="bloc_grille">
		<a href="/chercher/{{row['id']}}">
			<div class="titre">
				<div>{{row["title"]}}</div>
				<p class="contributeurice">{{row["author"]}}</p>
				<p class="pseudo">
					<span>partagé par</span>
					{{row["user"]|upper}}
					<span id="picto">{{row["icone"]}}</span>
				</p>
			</div>
		</a>
		<div class="description">{{row["description"]}}</div>
	</div>
	{% endfor %}
</div>

{% if item != False %}

{% include 'info.html' %}

{% endif %}

<footer>
	<nav>
		<div id="right">
			<a href="form">déposer</a>
		</div>
	</nav>
	
</footer>

{% endblock content %}
	
