{% extends "base.html" %}

	{% block content %}
	<!-- VF -->
		<form action="addcol" method="POST" enctype="multipart/form-data" class="multilang" lang="fr">
			<input type="text" name="title" placeholder="titre de la collection" class="formulaire_titre">
            <textarea type="text" name="description" placeholder="zone de description libre" class="formulaire_description_col"></textarea>
			<div>choisir une couleur</div>
            <input type="text" name="user" placeholder="pseudo" class="formulaire_pseudo">
			<label class="formulaire_enregistrer"><input type="submit" value="enregistrer"></label>
		</form>

	<!-- V EN -->
	<form action="addcol" method="POST" enctype="multipart/form-data" class="multilang" lang="en">
		<input type="text" name="title" placeholder="collection title" class="formulaire_titre">
		<textarea type="text" name="description" placeholder="freestyle description" class="formulaire_description_col"></textarea>
		<div>choose a color</div>
		<input type="text" name="user" placeholder="pseudo" class="formulaire_pseudo">
		<label class="formulaire_enregistrer"><input type="submit" value="upload"></label>
	</form>
	{% endblock content %}
	
