{% extends "base.html" %}

	{% block content %}

<nav class="fleche-home">
	<a href="/"><</a>
	<span id="right">/!\ attention /!\ ce formulaire a un petit bug : n'utilisez pas d'apostrophe !
		<span class="picto">d</span>
	</span>
</nav>

<form name="docFormEN" action="add-doc" method="POST" enctype="multipart/form-data" onsubmit="return validateForm('EN')" enctype="multipart/form-data" class="multilang" lang="en">

	<input type="text" name="title" placeholder="titre" class="formulaire_titre">

	<input type="text" name="author" placeholder="auteurice" class="formulaire_contributeurices">

	<h1 class="formulaire_date">date</h1>
	<input type="number" min="-2000" name="date" max="4050" step="1" value="2022" class="formulaire_date">

	<h1>langue</h1>
	<div class="formulaire_liste">
		<ul>
			<li><input type="radio" name="language" id="arabe"  value="arabe" type="hidden" ><label for="arabe">arabe</label></li>
			<li><input type="radio" name="language" id="anglais"  value="anglais" type="hidden" ><label for="anglais">anglais</label></li>
			<li><input type="radio" name="language" id="francais"  value="francais" type="hidden" ><label for="francais">français</label></li>
			<li><input type="radio" name="language" id="allemand"  value="allemand" type="hidden" ><label for="allemand">allemand</label></li>
			<li><input type="radio" name="language" id="italien"  value="italien" type="hidden" ><label for="italien">italien</label></li>
			<li><input type="radio" name="language" id="spanish"  value="spanish" type="hidden" ><label for="spanish">espagnol</label></li>
		</ul>
	</div>
			
	<h1>type de document</h1>
	<div class="formulaire_liste">
		<ul>
			<li><input type="radio" name="doctype" id="texte" value="texte" type="hidden" ><label for="texte">texte</label></li>
			<li><input type="radio" name="doctype" id="image" value="image" type="hidden" ><label for="image">image</label></li>
			<li><input type="radio" name="doctype" id="video"  value="video" type="hidden" ><label for="video">vidéo</label></li>
			<li><input type="radio" name="doctype" id="son" value="son" type="hidden" ><label for="son">son</label></li>
		</ul>
	</div>

	<textarea type="text" name="description" placeholder="zone de description libre : qu'avez-vous pensez de ce document et pourquoi souhaitez-vous le partager aux autres ? (attention à ne pas utiliser d'apostrophe!)" class="formulaire_description"></textarea>

	<div class="formulaire_icone"> 
	<h1>émotion</h1>
		<ul>
			<li><input type="radio" name="icone" class="formulaire_icone" value="a"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="b"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="c"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="d"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="e"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="f"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="g"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="h"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="i"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="j"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="k"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="l"><label for="icone"></label></li>
			<li><input type="radio" name="icone" class="formulaire_icone" value="m"><label for="icone"></label></li>
		</ul>
	</div>

	<label class="formulaire_parcourir"><input type="file" name="file">choisir un fichier</label> 

	<input type="text" name="user" placeholder="pseudo" class="formulaire_pseudo">
	
	<label class="formulaire_enregistrer"><input type="submit" value="enregistrer"></label>
</form>

		<script>
			function validateForm(lang) {
							var x = document.forms["docForm"+lang]["file"].value;
							if (x == "") {
											alert("Fichier manquant !");
											return false;
										}
						}
		</script>
	{% endblock content %}
	
