{% extends "base.html" %}

	{% block content %}

	<header><a href="/monique">Les livres les pommes les cartes à jouer</a></header>


	<div class="home-content">
		{% set document = rows | random %}
			<div class="description">
				<a href="/chercher/{{ document['id'] }}">
					<span class="picto">{{document["icone"]}}</span>
					{{document["description"]}}
				</a>
			</div>
			<div class="titre">
				<p class="pseudo">partagé par {{document["user"]|upper}}</p>
				
				<p>{{document["title"]}}</p>

				<p class="contributeurice">{{document["author"]|upper}}</p >
			</div>
	</div>

	<footer>
		<nav>
			<div id="right">
				<a href="form">déposer</a>
				<a href="chercher">parcourir</a>
			</div>
		</nav>
	</footer>

	{% endblock content %}
