<div id="infoRight">


	<!-- {% for item in items %} -->
	<span><iframe class="pdf" type="file" src="data:file/files/2/4_6012516857880251756.pdf"></iframe></span>		

</div>

<div id="infoLeft">

	<span class="openInfoRight">></span>
	<span class="fermer"><</span>	
	<a href="javascript:history.back()" class="close">+</a>	

	<div class="infoDoc">
		<div class="titre">
			<span>{{item["title"]}}</span>
			<span class="pseudo">de la part de {{item["user"]}}</span>
			<span class="picto">{{item["icone"]}}</span>



		</div>
		<ul>
			<li class="description">{{item["description"]}}</li>
			<section class="infoTags">
				<li>{{item["collection"]}}</li>
				<li id="author">{{item["author"]}}</li>
				<li>{{item["language"]}}</li>
				<li>{{item["date"]}}</li>
			</section>
		</ul>
		<!-- <div class="modifier">modifier</div> -->

	</div>		
