{% set item = item[0] %}

<div id="infoRight">
	<span><iframe class="pdf" src="/static/files/{{item['id']}}/{{ item['file'] }}"></iframe></span>		
</div>

<div id="infoLeft">
	<span class="openInfoRight">></span>
	<span class="fermer"><</span>	
	<a href="/chercher" class="close">+</a>

	<div class="infoDoc">
		<div class="titre">
			<span>{{item["title"]}}</span>
			<span class="pseudo">partagé par {{item["user"]}}</span>
			<span class="picto">{{item["icone"]}}</span>
		</div>

		<ul>
			<li class="description">{{item["description"]}}</li>
			<section class="infoTags">
				<li>{{item["collection"]}}</li>
				<li id="author">{{item["author"]}}</li>
				<li>{{item["language"]}}</li>
				<li>{{item["date"]}}</li>
			</section>
		</ul>
	</div>
		
	<div class="options">
		<a href="/form_modify/documents/{{item['id']}}">modifier</a>
	</div>
</div>