{% extends "base.html" %}

{% block content %}

<nav class="fleche-home">
	<a href="/"> < </a>
</nav>

<div class="home-content">

    <div class="wittig">
        <p>« Dans le livre de lecture il n’y a que des textes coupés, des morceaux choisis, on se demande par qui, en tout cas on aimerait savoir ce qu’il y a avant et après, on a l’impression au contraire qu’on ne le saura jamais. De toute façon dix lignes prises comme ça dans un livre ce n’est pas intéressant. C’est pour ça que Catherine Legrand préfère s’en tenir à un des textes en le répétant jusqu’à ce que ça lui dise quelque chose et ainsi quelquefois il y en a un qui lui plaît vraiment. Quand on aura la permission de lire les livres entiers on y retrouvera les phrases qu’on a sues par cœur. Des tresses de perles attachées à ses tempes descendaient jusqu’aux coins de sa bouche, rose, comme une grenade entr’ouverte. Il y avait sur sa poitrine un assemblage de pierres lumineuses, imitant par leur bigarrure les écailles d’une murène. Catherine Legrand demande à Vincent Parme ce que c’est qu’une murène. Vincent Parme dit, laisse-moi tranquille. Il est presque à la fin de son livre d’images et on se rend compte qu’on ne peut pas lui faire lever la tête. Catherine Legrand lui arrache le livre qu’il a sur les genoux en disant, je te le rendrai si tu me dis ce que c’est qu’une murène. Vincent Parme saute sur place devant Catherine Legrand en remuant les bras dans tous les sens par-dessus elle, sur les côtés, en essayant de reprendre le livre qu’elle tient derrière le dos, en disant, c’est un poisson si ça a des écailles. Catherine Legrand lui rend le livre en disant, grand comment et Vincent Parme hausse les épaules en allant se rasseoir dans son coin. Véronique Legrand est en train de faire un bonhomme dans un bout de bois. Le couteau est de temps en temps dans sa main droite de temps en temps dans sa main gauche suivant qu’il lui est plus commode d’employer l’une ou l’autre pour creuser le bout de bois dans l’angle qu’elle choisit. C’est elle qui se met à crier la première qu’il pleut dans la cabane. Et en effet les feuilles du toit prises à des ormes à des hêtres à des frênes et même à des bouleaux toutes recroquevillées et sèches ont fini par laisser passer l’eau. Maintenant qu’elles sont mouillées, elles sont plus petites encore ce qui fait qu’on voit le ciel à travers le toit de la cabane on voit que les gouttes de pluie tombent en prenant des apparences d’aiguilles droit dans les yeux qui seraient transpercés par elles si on ne les fermait à temps mais ce n’est que de l’eau.</p>
        
        <p class="description">Alors on met toutes les affaires, les livres les pommes les couteaux les cartes à jouer dans la partie de la cabane qui est encore un abri. »</p>
        
        <p class="titre">L'opoponax <span class="contributeurice">de Monique Wittig</span></p>
    </div>

    <p class="titre">Cette documenthèque est un endroit pour mettre à l’abri tous les morceaux de livres qui n’ont pas été choisis et qu’on ne connaitra pas par cœur.</p>

</div>

{% endblock content %}